
.containerNavigator{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px
}

.botones{
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer
}

.botones:hover{
    color:blue
}